<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:wght@400;800&family=Pacifico&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

<body class="bg-body-main mt-5 ">
    
    <div class="container mt-5 ">
    
        <div class="row py-5 ">
            <div class="col-md-2">
                <h1 class="h2 text-main dancing-script">Shopify</h1>

                <p class="mt-4">Your Favourite Brands Have Us..</p>
                <p>+321-789-258</p>
                <p>Shopfiy@gmail.com</p>
            </div>

            <div class="col-md-2 d-flex flex-column">
                <h3 class="h4 urbanis text-black fw-semibold">User Links</h3>
                <a href="#">New Products</a>
                <a href="#">Our Sales</a>
                <a href="#">Our Bestsaller</a>
                <a href="#">Online Gifts</a>
            </div>
            <div class="col-md-2">
                <h3 class="h4 urbanis text-black fw-semibold mb-3">Informations</h3>
                <p>Contact Us</p>
                <p>FAQ</p>
                <p>Terms&Conitions</p>
                <p>Privac Policy</p>
            </div>
            <div class="col-md-4">
                <h2 class=" urbanis text-black fw-semibold mb-3">Emails</h2>
                <p>Enter Your Email To Follow Our Sales !</p>
                <div class="d-flex gap-2">
                    <input type="email" placeholder="Enter Your Email Address " class="form-control">
                    <button class="btn bg-black text-white rounded-0 p-2"> Subscribe</button>
                </div>

            </div>
            <p class="text-center mt-4 text-main ">
                 <i class="fa-regular fa-copyright fs-7 me-2"></i>Copyright Shopify.<br> All Rights Reserved Designed by Eng-Hager Hamdy 
                </p>
        </div>
        
    </div>
</body>
