
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:wght@400;800&family=Pacifico&display=swap" rel="stylesheet">
  </head>
 


  

  <div class="d-flex w-50 mx-auto  justify-content-center align-items-center gap-2 mt-4">
    <input  [(ngModel)]="inputValue" placeholder="Search.." class="form-control form-control-sm my-3   rounded-5 ">
    <div class="d-flex icon bg-main   justify-content-center align-items-center p-2">
      <i class="fa-solid fa-camera-retro fs-5 text-white"></i>
    </div>
  </div>






<section>
    
 <div class="container">
    <div class="row g-5 mt-3">
        <div *ngFor="let prodcut of products  | search:inputValue  " class="col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
            <div class ="prouduct h-100 pointer  mt-5 ">
              
              <i *ngIf="!wishListData.includes($any(prodcut._id ))"  (click)="addProductToWishListt(prodcut._id  )"  class="fa-regular fa-heart text-main"></i>
              <i  *ngIf="wishListData.includes($any(prodcut._id ))"  (click)="removeItemWishList(prodcut._id  )"  class="fa-solid fa-heart text-main"></i>
              
              
             <div [routerLink]="['/prodcuttDetails', prodcut._id]"  class=" mb-prod">
              <img class="w-100" [src]="prodcut.imageCover" [alt]="prodcut.title">
              <h4  class=" text-main h5 main-f my-2"> {{prodcut.category.name}}</h4>
              <h3 class="  sec-color text-center h6 dancing-script fw-bold mt-2 mb-3">{{prodcut.title | cuttext:3}} </h3>
              
              <div class="d-flex justify-content-between align-items-center px-2 mb-2 mt-4">
                  <span class=" dancing-script text-main">{{prodcut.price | currency : "EGP"}}</span>

                 
                    <span>
                      <i class="fa-solid fa-star text-main fs-6"></i> {{prodcut.ratingsAverage}}
                    </span>
                  
              </div>
             </div>


                <!-- -----Check Out-------------- -->
                <button  (click)="addProductToCart(prodcut._id ,btnAdd )" #btnAdd class="btn sub-btn w-100 text-center bg-main text-white pacifico-regular h6 mt-5"><i class="fa-solid fa-plus text-white"></i> Add To Cart</button>








            </div>
        </div>
    </div>
 </div>
</section>
