.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
input{
    padding: 10px;
    padding-left: 15px;
    border: 1px solid  rgb(108, 76, 7) ;
}
input::-webkit-input-placeholder {
    color: rgb(108, 76, 7);
    font-size: 15px  !important;
    font-weight: 900px !important;
}

input:-moz-placeholder {
color:rgb(108, 76, 7);
}
.form-control:focus {
    border-color: rgb(108, 76, 7);
    box-shadow: inset 0 1px 1px rgb(108, 76, 7,0.7), 0 0 8px  rgb(108, 76, 7,0.7);
  }